/*
* Custom SASS Stylesheet
*/
/* line 5, ../sass/style.scss */
.file-drop {
  text-align: center;
  height: 100px;
  line-height: 100px;
  background: mediumseagreen;
  border: 2px dashed darkgreen;
}

/* line 13, ../sass/style.scss */
.warning {
  color: red;
}

/* line 17, ../sass/style.scss */
.panel-title > a {
  cursor: pointer;
}

/* line 21, ../sass/style.scss */
.output {
  margin-top: 30px;
}

/* line 25, ../sass/style.scss */
.tab {
  cursor: pointer;
}
/* line 28, ../sass/style.scss */
.tab.tab-link:hover > a {
  background: none;
  border-color: transparent;
  text-decoration: underline;
}

/* line 35, ../sass/style.scss */
.tab-close {
  text-decoration: underline;
  cursor: pointer;
}
