<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Third Party Stylesheets -->
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="bower_components/angular-growl/build/angular-growl.min.css">

        <!-- Custom Stylesheets -->
        <link rel="stylesheet" href="css/style.css">

    </head>
    <body xmlns:ng="http://angularjs.org" id="ng-app" ng-app="uslmTest" ng-controller="AppController">
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <div growl></div>
        <div class="container">
            <div class="header">
                <h3>USLM Test Demo</h3>
            </div>
            <div class="jumbotron">
                <h1>Test the USLM library</h1>
                <p class="lead">Upload XML file below.</p>
                <p>Examples from the 113th Congress can be found <a href="http://www.gpo.gov/fdsys/bulkdata/BILLS/113/2/hr" target="_blank">here</a>.</p>
            </div>
            <div ng-controller="DownloadController">
                <form name="uploadForm">
                    <input type="file" ng-file-select="onFileSelect($files, $event)">
                    <div ng-file-drop="onFileSelect($files, $event)" ng-show="dropSupported" class="file-drop">Drop File Here</div>
                    <div ng-file-drop-available="dropSupported=true" ng-show="!dropSupported">HTML5 Drop File is not supported!</div>
                    <div class="button" ng-file-select="onFileSelect($files, $event)"></div>
                    <div ng-show="selectedFiles != null" class="ng-hide"></div>
                    <button ng-click="clearUpload()" class="btn btn-default">Clear Upload</button>
                </form>
                <div class="output" ng-show="bills">
                    <tabset>
                        <tab ng-repeat="bill in bills" heading="{{ $index + 1 }}" active="bill.active">
                            <accordion close-others="false">
                                <accordion-group heading="Official Title" is-open="true">
                                    {{ bill.title }}
                                </accordion-group>
                                <accordion-group heading="Sponsor" is-open="true">
                                    <span ng-show="bill.sponsor.name">{{ bill.sponsor.name }} ({{ bill.sponsor['name-id'] }})</span>
                                    <span ng-show="!bill.sponsor.name" class="warning">No Sponsor Found.</span>
                                </accordion-group>
                                <accordion-group heading="Cosponsors" is-open="true">
                                    <span ng-show="bill.cosponsors.length == 0" class="warning">No Cosponsors Found.</span>
                                    <ul>
                                        <li ng-repeat="cosponsor in bill.cosponsors">{{ cosponsor.name }} ({{ cosponsor['name-id'] }})</li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="Committees" is-open="true">
                                    <span ng-show="bill.committees.length == 0" class="warning">No Committees Found.</span>
                                    <ul>
                                        <li ng-repeat="committee in bill.committees">{{ committee['committee-name'] }} ({{ committee['committee-id'] }})</li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="DMS ID" is-open="true">
                                    <span>{{ bill.dms_id }}</span>
                                </accordion-group>
                                <accordion-group heading="Bill Stage" is-open="true">
                                    <span>{{ bill.bill_stage }}</span>
                                </accordion-group>
                                <accordion-group heading="Congress" is-open="true">
                                    <span>{{ bill.congress }}</span>
                                </accordion-group>
                                <accordion-group heading="Session" is-open="true">
                                    <span>{{ bill.session }}</span>
                                </accordion-group>
                                <accordion-group heading="Legis Num" is-open="true">
                                    <span>{{ bill.legis_num }}</span>
                                </accordion-group>
                                <accordion-group heading="Current Chamber" is-open="true">
                                    <span>{{ bill.chamber }}</span>
                                </accordion-group>
                                <accordion-group heading="Legis Type" is-open="true">
                                    <span>{{ bill.type }}</span>
                                </accordion-group>
                                <accordion-group heading="Actions" is-open="true">
                                    <span ng-show="bill.actions.length == 0" class="warning">No Actions Found.</span>
                                    <ul>
                                        <li ng-repeat="action in bill.actions">
                                            <p><strong>Action Date: </strong>{{ action['action-date'] }}</p>
                                            <ul>
                                                <strong>Action Desc:</strong>
                                                <li ng-repeat="(key, value) in action['action-desc']">
                                                    <strong>{{ key }}: </strong>
                                                    <ul ng-if="value|isArray">
                                                        <li ng-repeat="(subkey, subvalue) in value">
                                                            <strong>{{ subkey }}: </strong>{{ subvalue }}
                                                        </li>
                                                    </ul>
                                                    <span ng-if="!(value|isArray)">{{ value }}</span>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </accordion-group>
                                <accordion-group heading="Body" is-open="true">
                                    <div btf-markdown="bill.body"></div>
                                </accordion-group>
                            </accordion>
                        </tab>
                    </tabset>
                </div>
            </div>
        </div>
        
        <!-- Include Third Party Scripts -->
        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/ng-file-upload/angular-file-upload-shim.min.js"></script>
        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/ng-file-upload/angular-file-upload.min.js"></script>
        <script src="bower_components/angular-growl/build/angular-growl.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
        <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
        <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
        <script src="bower_components/showdown/compressed/showdown.js"></script>
        <script src="bower_components/angular-markdown-directive/markdown.js"></script>
        
        <!-- Custom Scripts -->
        <script src="js/app.js"></script>
        <script src="js/controllers.js"></script>
        <script src="js/filters.js"></script>
    </body>
</html>